# Large files excluded from GitHub (>100MB)
2023/23101. Research Computing/1. Planning/6. List of initial requirements/2023 Audit (1).zip
2023/23103. Libraries/2. Execution/4. Documents Received/Documents/ALMA Report/Electronic Inventory.xlsx
2023/23107. Business Development/1. Planning/6. List of initial requirements/Revenue contracts/Cafeteria and Shop Contracts.rar
2023/23107. Business Development/2. Execution/3. Testing Sheets/Supportings/Revenue contracts/Cafeteria and Shop Contracts.rar
